{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<main style="min-height: 100vh;">
    {% include 'messages.html' %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-10 p-3">
            <form method="POST">
                <div class="form-group"></div>
                    {% csrf_token %}
                    <legend class="text-center">Create new car type</legend>
                    <fieldset>
                        {{ form | crispy}}
                    </fieldset>
                    <button class="btn btn-outline-primary mr-2 my-2" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock content %}