{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block header %}
<title>CarDatabase | New favourite car</title>
{% endblock header %}


{% block content %}
<main class="container-fluid p-4" style="min-height: 100vh;">
    {% include 'messages.html' %}
    <h2 style="text-align: center;">Favourite Cars</h2>
    <form class="form-field row" action="{% url 'car-favourite-cars-list' %}" method="POST">
        {% csrf_token %}
        <div class="col-lg-3 col-sm-10 mb-2 p-0">
            <select name="manufacturer" class="form-select col-lg-2" aria-label="Car manufacturer">
                <option value="none" selected disabled hidden>Select an Option</option>
                {% for manufacturer in manufacturers %}
                <option class="" value="{{ manufacturer.name }}">{{ manufacturer.name }}</option>
                {% endfor %}
            </select>
        </div>
        <input class="btn btn-outline-primary col-lg-1 col-sm-5 mx-lg-2" type="submit" value="Filter">
    </form>
    <a class="btn btn-outline-primary mt-2" href="{% url 'car-add-favourites-separately' %}">Add favourite car</a>

    <table class="table mt-3">
        <thead>
            <tr>
                <th>Manufacturer name</th>
                <th>Type</th>
                <th>Year</th>
                <th>Color</th>
                <th>Fuel type</th>
                <th>Remove from favourites</th>
                <th>Update</th>
            </tr>
        </thead>
        {% for car in favourite_car_types %}
        <tr>
            <td>{{ car.car_type.manufacturer.name }}</td>
            <td>{{ car.car_type.name }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.color }}</td>
            <td>{{ car.fuel }}</td>
            <td>
                <form class="form-field" action="{% url 'car-delete-from-favourites' car.pk %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-default btn-danger" type="submit" value="&#10006;"/>
                </form>
            </td>
            <td><a class="btn btn-primary" href="{% url 'car-favourite-car-update-page' car.pk %}">Update</a></td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}