{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
<title>CarDatabase | Login</title>
{% endblock header %}


{% block content %}
<main class="d-flex align-items-center" style="height:100vh"> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="card">
                    <div class="card-header text-center">
                        Log In
                    </div>
                    <div class="card-body">
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == "error" %}
                        <div class="alert alert-danger m-1">
                            {{message}}
                        </div>
                        {% else %}
                        <div class="alert {% if message.tags %}alert-{{message.tags}}{% endif %} m-1">
                            {{message}}
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group mt-2">
                                <button class="btn btn-outline-info" type="submit">Login</button>
                            </div>
                            <span>Don't have and account? <a href="{% url 'register' %}">Register one</a>.</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</main>
{% endblock content %}