{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
<title>CarDatabase | Registration</title>
{% endblock header %}

{% block content %}
<main class="container p-3" style="height: 100vh;">
    {% if messages %}
    <div class="alert alert-success" role="alert">
        Successful registration! You can log in <a href="{% url 'login' %}">here</a>.
    </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group"></div>
            <legend class="text-center">Join us!</legend>
            <fieldset>
                {{ form | crispy}}
            </fieldset>
            
            <button class="btn btn-outline-info mr-2 my-2" type="submit">Register</button>
        </div>
        <span>  Already have and account? <a href="{% url 'login' %}">Login</a>.</span>
    </form>
    
    
</main>
{% endblock content %}