{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
<title>CarDatabase | Login</title>
{% endblock header %}


{% block content %}
<main class="d-flex align-items-center" style="height:100vh"> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-lg-4 mx-auto">
                <div class="card">
                    <div class="card-header text-center">
                        {% if not user.requested_delete %}
                        Are you sure want to request to delete your account?
                        {% else %}
                        Do you want to keep your account?
                        {% endif %} 
                    </div>
                    <div class="card-body">
                        {% include 'messages.html' %}
                        {% if not user.requested_delete %}
                        <div class="card-text mb-3">
                            Account cannot be recovered after delete.
                        </div>
                        <form method="POST" action="{% url 'user-delete-request-action' %}">
                            {% csrf_token %}
                            <input class="btn btn-default btn-outline-danger" type="submit" value="Request account delete"/>
                        </form>
                        {% else %}
                        
                        <div class="card-body">
                            <div class="card-text mb-3">
                                Do you want to keep your account?
                            </div>
                            <form method="POST" action="{% url 'user-delete-request-action' %}">
                                {% csrf_token %}
                                <input class="btn btn-default btn-outline-primary" type="submit" value="I am keeping my account."/>
                            </form>
                        </div>
                        {% endif %}                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</main>
{% endblock content %}