{% extends 'AdminSite/templates/admin_site_base.html' %}

{% block admin-content %}
    <h2 style="text-align: center;">Account unlock requests</h2>
    <form class="form-field" action="{% url 'admin-user-unlock-all-action' %}" method="POST">
        {% csrf_token %}
        <input class="btn btn-default btn-warning" type="submit" value="Unlock all"/>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Unlock User</th>
            </tr>
        </thead>
        {% for user in unlock_request_users %}
        <tr class="table-warning">
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>
                <form class="form-field" action="{% url 'admin-user-unlock-action' user.id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-default btn-success" type="submit" value="&#10004;"/>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock admin-content %}