{% extends 'AdminSite/templates/admin_site_base.html' %}
{% load crispy_forms_tags %}

{% block admin-content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-10 p-3">
            <form class="form-group" method="POST" action="{% url 'admin-user-update' current_user.id %}">
                {% csrf_token %}
                <legend class="text-center">Update {{ current_user.username }}</legend>
                <fieldset>
                    {{ form | crispy}}
                </fieldset>
                <button class="btn btn-outline-info mr-2 my-2" type="submit">Update user</button>
            </form>
        </div>
    </div>
{% endblock admin-content %}