{% extends 'AdminSite/templates/admin_site_base.html' %}


{% block admin-content %}
    <div class="d-flex justify-content-start">
        <form class=" mb-2 me-2" action="{% url 'manufacturer-request-fulfill-all' %}" method="POST">
            {% csrf_token %}
            <input class="d-block btn btn-default btn-primary" type="submit" value="Accept all requests"/>
        </form>
        <form class="" action="{% url 'manufacturer-request-delete-all' %}" method="POST">
            {% csrf_token %}
            <input class="btn btn-default btn-danger" type="submit" value="Delete all requests"/>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Requested manufacturer</th>
                <th>accept</th>
                <th>delete</th>
            </tr>
        </thead>
        {% for manufacturer_request in manufacturer_requests %}
        <tr class="table-primary">
            <td>{{ manufacturer_request.name }}</td>
            <td>
                <form class="form-field" action="{% url 'manufacturer-request-fulfill' manufacturer_request.pk %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-default btn-primary" type="submit" value="Accept request"/>
                </form>
            </td>
            <td>
                <form class="form-field" action="{% url 'manufacturer-request-delete' manufacturer_request.pk %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-default btn-danger" type="submit" value="Delete request"/>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock admin-content %}