{% extends 'base.html' %}

{% block header %}
<title>CarDatabase | Admin Site</title>
{% endblock header %}


{% block content %}
<main class="p-4" style="min-height: 100vh;">
  {% if messages %}
  {% for message in messages %}
  {% if message.tags == "error" %}
  <div class="alert alert-danger m-1 mb-2">
      {{message}}
  </div>
  {% else %}
  <div class="alert {% if message.tags %}alert-{{message.tags}}{% endif %} m-1 mb-2">
      {{message}}
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% block admin-content %}
  
  {% endblock admin-content %}
</main>

{% endblock content %}