

.thumbnail {
    position:relative;

}

.thumbnail-button {
    display:block;
    width:10px;
    height:10px;
    position:absolute;
    top:3px;
    right:3px;
    background:#c00;
    overflow:hidden;
    text-indent:-9999px;
}